<hr>
<footer>
  <p><span class="bolder">Doing Non Doing</span> is a project by <a href="{{site.baseurl}}/now">Henrik Simen</a> intended for helping you stay sane in this crazy world. Filled with bits and pieces of wisdom sourced from the depths of the internet and weekly original content, Doing Non Doing is sure to become a weekly destination.</p>
</footer>
<hr>
<footer>
  <p>This website will never have ads. If you find this project useful, please consider supporting me on <a href="" target="_blank">Patreon</a></p>
</footer>
<hr>
<footer>
  {% include nav.html %}  
</footer>
<script src="assets/js/app.js"></script>