<hr>
<footer>
  <p><span class="bolder">Doing Non Doing</span> is a project by <a href="{{site.baseurl}}/now">Henrik Simen</a> with the goal to educate, inspire, grow, and help you stay sane in this crazy world. Filled with bits and pieces of wisdom sourced from readings and weekly original content, Doing Non Doing is sure to become a weekly destination.</p>
</footer>
<hr>
<footer>
  <p>This website will remain ad-free. If you find this project useful, please consider supporting me on <a href="" target="_blank">Patreon</a></p>
</footer>
<hr>
<footer>
  {% include nav.html %}  
</footer>
<script src="{{site.baseurl}}/assets/js/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
