/* CSS for Custom Colors */


/* SET DEFAULT COLORS HERE */
body {
  background-color: #436865;
}

main {

}

article h2, article p, article a, footer p, footer ul, footer a {
  color: #D8E1E2;
}

.attribution {
  border-color: #D8E1E2;
}

hr {
  color:#D8E1E2; /* old IE */
  background-color: #D8E1E2; /* Modern Browsers */
}


