/* CSS for Custom Colors */


/* SET DEFAULT COLORS HERE */
body { 
  background: rgba(6,21,71,1);
  background: -moz-linear-gradient(top, rgba(6,21,71,1) 0%, rgba(6,21,71,1) 54%, rgba(45,21,111,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(6,21,71,1)), color-stop(54%, rgba(6,21,71,1)), color-stop(100%, rgba(45,21,111,1)));
  background: -webkit-linear-gradient(top, rgba(6,21,71,1) 0%, rgba(6,21,71,1) 54%, rgba(45,21,111,1) 100%);
  background: -o-linear-gradient(top, rgba(6,21,71,1) 0%, rgba(6,21,71,1) 54%, rgba(45,21,111,1) 100%);
  background: -ms-linear-gradient(top, rgba(6,21,71,1) 0%, rgba(6,21,71,1) 54%, rgba(45,21,111,1) 100%);
  background: linear-gradient(to bottom, rgba(6,21,71,1) 0%, rgba(6,21,71,1) 54%, rgba(45,21,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061547', endColorstr='#2d156f', GradientType=0 );
}

main {

}

article h2 {
  color: white;
}

p.intro {
  color: white;
}

 article p,footer p, footer ul{
  color: #e4dbe4;
}

article a {
  color: #fbae39;
}

footer a {
  color: #fbae39;
}

.attribution {
  border: 1px solid #0239a9;
  background-color: #062057;
}

hr {
  color:#0239a9; /* old IE */
  background-color: #0239a9; /* Modern Browsers */
}



