
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  main, footer {
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    font-size: 2.5em;
    margin-bottom: 50px;
  }
  
  p {
    font-size: 1em;
    font-weight: 400;
    margin: 35px 0;
    line-height: 1.75em;
  }

  footer p {
    font-size: 1em;
    line-height: 1.4em;

 }

  main ul li {
    margin: 15px 0 0 0;
    list-style-type: circle;
    font-size: 1em;
    line-height: 1.7em;
    margin-left: 35px;
  }

  ul.resources li {
    list-style: none;
    margin: 30px 0 0 0;
  }

  ul.archive li {
    list-style: none;
  }

   /* announcement section */
   .announcement {
    display: block;
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .announcement p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 0.8em;
    margin: 10px;
    color: black;
  }

  .announcement a {
    font-family: 'Anonymous Pro', monospace;
    text-decoration: underline;
    font-weight: 700;
    color: #fbae39;
  }

  .controls button {
   display: inline;
   width: auto;
  }

  .logo {
    display: block;
    float: left;
  }

  .logo-mobile {
    display: none;
  }

  section {
    clear: both;
    padding-top: 40px;
  }

   /* NAVIGATION */

   header nav {
    width: auto;
    float: right;
  }

  .dropbtn {
    width: auto;
  }

  .dropdown-content {
    min-width: 160px;
  }

  .dropdown {
    display: inline-block;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


 }

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 


  main, footer {
    width: 65%;
    margin: 0 auto;
  }

  
  .logo-mobile {
    display: none;
  }
  

  h1 {
    font-size: 1em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3em;
    margin-bottom: 50px;
  }
  
  p {
    font-size: 1.1em;
    font-weight: 400;
    margin: 35px 0;
    line-height: 1.8em;
  }
  
  p.intro {
    font-size: 1.3em;
    line-height: 1.8em;
  }

  footer p {
    font-size: 1em;
    line-height: 1.4em;
 }

 main ul li {
   margin: 15px 0 0 0;
   list-style-type: circle;
   font-size: 1em;
   line-height: 1.7em;
   margin-left: 35px;
 }

  ul.resources li {
    list-style: none;
    margin: 30px 0 0 0;
  }

   /* announcement section */
   .announcement {
    display: block;
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .announcement p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 0.8em;
    margin: 10px;
    color: black;
  }

  .announcement a {
    font-family: 'Anonymous Pro', monospace;
    text-decoration: underline;
    font-weight: 700;
    color: #fbae39;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  main, footer {
    width: 55%;
    margin: 0 auto;
  }


  .logo {
    display: block;
    float: left;
  }
  
  .logo-mobile {
    display: none;
  }

  
  h1 {
    font-size: 1em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 3.5em;
    margin-bottom: 50px;
  }
  
  p {
    font-size: 1.1em;
    font-weight: 400;
    margin: 35px 0;
    line-height: 1.8em;
  }
  
  p.intro {
    font-size: 1.3em;
    line-height: 1.8em;
  }

  footer p {
    font-size: 1em;
    line-height: 1.4em;
  }

  ul.resources li {
    list-style: none;
    margin: 30px 0 0 0;
  }

  /* announcement section */
  .announcement {
    display: block;
    background-color: white;
    text-align: center;
    color: black;
    padding: 10px 0;
    text-transform: uppercase;
  }
  .announcement p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 0.8em;
    margin: 10px;
    color: black;
  }

  .announcement a {
    font-family: 'Anonymous Pro', monospace;
    text-decoration: underline;
    font-weight: 700;
    color: #fbae39;
  }

 
  
 }