/* CSS RESET */

html {
  box-sizing: border-box;
  font-size: 19px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
 
/* END RESET */

body {
  margin: 50px 0;
}

a {
  color: white;
  padding-bottom: .25em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  transition: color 0.3s;
}

a:hover {
  color: white;
}

main, footer {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

article {
  margin-bottom: 110px;
}

header {
  margin-bottom: 50px;
  font-size: 0.9em;
  width: 100%;
}

header img {
  transition: all 0.4s ease-in-out;
}

header img:hover {
  transform: rotate(20deg);
}

.logo {
  display: none;
}

.logo-mobile {
  display: block;
}

.logo-mobile h1 {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  font-size: 1.4em;
}

.logo-mobile span {
  font-weight: 700;
}

main ul li {
  margin: 15px 0 0 0;
  font-size: 1em;
  line-height: 1.7em;
  /* margin-left: 35px; */
}


section {
  clear: both;
  padding-top: 40px;
}

/* NAVIGATION */

header nav {
  width: 100%;
}

.dropbtn {
  padding: 16px 16px 14px;
  border: 1px solid #0239a9;
  background-color: #062057;
  cursor: pointer;
  color: white;
  transition: all 0.1s ease-in-out;
  font-size: 1em;
  margin-top: 25px;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0239a9;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 400;
}

.dropdown-content a:hover {
  background-color: #062057;
  transition: all 0.1s ease-in-out;

}

.dropdown:hover .dropdown-content {
  display: block;
} 

.dropdown:hover .dropbtn {
  /* background-color: #fbae39; */
  border-color: #fbae39;
}

/* Mobile Styles */

/* announcement section */
.announcement {
  display: none;
}


h1, h2 {
  font-family: 'Raleway', sans-serif;
}


h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
  font-weight:300;
  margin-bottom: 50px;
}

p, ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 35px 0;
  line-height: 1.75em;
}

p.intro {
  font-size: 1.1em;
  line-height: 1.75em;
}

span.bolder {
  font-weight: 700;
}

.attribution {
  padding: 5px;
  margin-bottom: 55px;
}

.attribution p {
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
}

a.all-posts {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom:100px;
}

hr {
  border: none;
  height: 1px;
  color: #0239a9; /* old IE */
  background-color: #0239a9; /* Modern Browsers */
}

footer {
  padding: 25px 0;
}

footer ul li {
  display: inline;
}

footer p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1em;
  line-height: 1.4em;
}

footer a {
  font-family: 'Anonymous Pro', monospace;
  color: white;
  font-weight: 700;
}

footer .story-button {
  margin-top: 10px;
  padding: 10px;
  display: block;
  border: 1px solid #FE3E3F;
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

footer a.story-button:hover {
  background-color: red;
}

ul li {
  margin-bottom: 30px;
}

/* ARCHIVE PAGE */
 main ul.archive {
  list-style: none;
  margin-bottom: 50px;
}
 main ul a {
  font-size: 1.5em;
  font-weight: 400;
}

main ul.archive li {
  padding: 16px 16px 14px;
  border: 1px solid #0239a9;
  background-color: #062057;
  transition: all 0.2s ease-in-out;
  margin-left: 0;
  margin-top: 30px;
}

main ul.archive li a {
  text-decoration: none;
}

main ul.archive li:hover {
  border-color: white;
}

/* RESOURCES */

ul.resources, ul.insights {
  list-style: none;
}

.card {
  padding: 16px 16px 14px;
  border: 1px solid #0239a9;
  background-color: #062057;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  border-color: #fbae39;
  color:  red;
}


.resources a {
  text-decoration: none;
}

.resources p {
  margin: 0;
  color: #e4dbe4;
  font-size: 0.55em;
  line-height: 1.5em;
  padding-top: 10px;
}

p.title {
  color: #fbae39;
  font-size: 1em;
  line-height: 1.2em;
}
p.category {
  font-family: 'Anonymous Pro', monospace;
  text-transform: uppercase;
  font-size: 0.5em;
  color: #1195f7;
  font-weight: 700;
}


span.new-banner {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 700;
  background-color: red;
  padding: 3px 10px;
  color: white;
  font-size: 0.9em;
}


/* INSIGHT SECTION */

.controls button.mixitup-control-active {
  background-color: #fbae39;
  color: white;
}

.controls button {
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #0239a9;
  background-color: #062057;
  cursor: pointer;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  display: block;
  width: 100%;
  margin-top: 10px;
}



.new-insight-banner span {
  font-size: 1.2em;
  text-transform: uppercase;
}

.resources p.insight {
  font-size: 1em;
}

p.insight-source {
  padding-top: 30px;
  font-size: 0.5em;
}

.insight-source a {

  font-style: italic;
}

.insight-source span {
  color: #e4dbe4;
}

.insights .card:hover {
  border-color:  #0239a9;
}

blockquote {
  font-size: 1.2em;
  line-height: 1.8em;
  color:#e4dbe4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 40px 0;
  border-top: 1px solid #0239a9;
  border-bottom: 1px solid #0239a9;
}

