/* CSS RESET */

html {
  box-sizing: border-box;
  font-size: 19px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
 
/* END RESET */

body {
  margin: 50px 0;
}

a {
  color: white;
  padding-bottom: .25em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  transition: color 0.3s;
}

a:hover {
  color: white;
}

main, footer {
  width: 90%;
  margin: 0 auto;
  padding: 0 10px;
}

article {
  margin-bottom: 110px;
}

header {
  margin-bottom: 50px;
  font-size: 0.9em;
}

/* Mobile Styles */

h1, h2 {
  font-family: 'Raleway', sans-serif;
}


h1 {
  font-size: 1.5em;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
  font-weight:300;
  margin-bottom: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 35px 0;
  line-height: 1.75em;
}

p.intro {
  font-size: 1.1em;
  line-height: 1.75em;
}

span.bolder {
  font-weight: 700;
}

.attribution {
  padding: 5px;
  margin-bottom: 55px;
}

.attribution p {
  text-align: center;
  font-size: 1em;
  font-style: italic;
}

a.all-posts {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom:100px;
}

hr {
  border: none;
  height: 1px;
  color: #0239a9; /* old IE */
  background-color: #0239a9; /* Modern Browsers */
}

footer {
  padding: 55px 0;
}

footer ul li {
  display: inline;
}

footer p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.2em;
  line-height: 1.5em;
}

footer a {
  font-family: 'Anonymous Pro', monospace;
  color: white;
  font-weight: 700;
}

ul li {
  display: block;
  margin-bottom: 30px;
}


/* ARCHIVE PAGE */
 main ul {
  margin-bottom: 50px;
}
 main ul a {
  font-size: 1.5em;
  font-weight: 400;
}

/* RESOURCES */

.card {
  padding: 16px 16px 14px;
  border: 1px solid #0239a9;
  background-color: #062057;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.card:hover {
  border-color: #fbae39;
}


.resources a {
  text-decoration: none;
}

.resources p {
  margin: 0;
  color: #e4dbe4;
  font-size: 0.6em;
  line-height: 1.5em;
  padding-top: 10px;
}

p.title {
  color: #fbae39;
  font-size: 1em;
}
p.category {
  font-family: 'Anonymous Pro', monospace;
  text-transform: uppercase;
  font-size: 0.5em;
  color: #1195f7;
  font-weight: 700;
}

