<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Main CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">

  <!-- Colors CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/colors.css">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet"> 

  <title>Doing Non Doing</title>
</head>
<body id="archive-page">
  <main>
    {{content}}
  </main> <!-- #archive-page -->
  {% include footer.html %}  
</body>
</html>