<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Main CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">

  <!-- Colors CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/colors.css">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet">

  <title>Doing Non Doing</title>
</head>
<body>
  <main>
    <header>
        <a href="{{site.baseurl}}/index"><h1>Doing Non Doing</h1></a>
    </header>
    <section>
      <article>

        {{content}}

      </article>
    </section>

  </main>

  {% include footer.html %}  
  </body>
  </html>