<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{page.meta}}">

 
  <!-- FB OG --> 
  {% if page.img %}
    <meta property="og:image" content="{{site.baseurl}}/assets{{ page.img }}" />
  {% endif %}

  <meta property="og:description" content="{{ page.meta }}" />
  <meta property="og:url"         content="{{site.baseurl}}{{ page.url }}" />
  <meta property="og:type"        content="article" />
  <meta property="og:title"       content="{{ page.title }}" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">

  <!-- Colors CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/colors.css">

  <!-- Responsive CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/responsive.css">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700" rel="stylesheet">

  <title>{% if page.title %}{{page.title}} · {%endif%} Doing Non Doing{% if page.titleAfter %} · {{page.titleAfter}} {% endif %} </title>
  <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/assets/img/favicon.png">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130038391-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-130038391-1');
  </script>

  <meta name="google-site-verification" content="SQ1k8dt3Fs6rvvyqU0egGfyvU5Jt1W1Z0JJy0kmY8RM" />

  
</head>
<body>
  <main>
    <header>
        <a href="{{site.baseurl}}/index"><img class="logo" src="{{site.baseurl}}/assets/img/logo.svg" alt="Doing Non Doing Logo" width="120"></a>
        <a class="logo-mobile" href="{{site.baseurl}}/index"><h1>Doing <span>Non-Doing</span></h1></a>

        {% include nav-dropdown.html %}  
    </header>
    <section>
      <article>

        {{content}}

      </article>
    </section>

  </main>

  {% include footer.html %}  
  </body>
  </html>